
#oldContainer {
	margin: auto;
	perspective: 200px;
	opacity: 50%;
	height: 50%;
	width: 50%;
	animation: mymove 5s infinite;
}

@keyframes mymove {
  50% {perspective: 300px;}
  50% {opacity: 80%;}
}

#oldBody {
	background-image: repeating-radial-gradient(black, purple 5%, black 10%);
	padding: 50px;
	position: absolute;
	transform-style: preserve-3d;
	transform: rotateX(15deg);
	border: 15px ridge black;
}

h1 {
	color: white;
	background-color: rgba(0,0,0,.55);
	width: 40%;
	text-align: center;
	margin: auto;
	border: 10px ridge blue;
}

.banner {
	color: white;

	margin-left: auto;
	margin-right: auto;
}

p {
	size: 10pt;
	text-align: center;
	margin: auto;

	color: white;
}

a:link {color: lime;}
a:visited {color: orange;}
a:hover {color: green;}
a:active {color: red;}

.fbImg {
	margin-right: auto;
	margin-left: auto;
	width: 30%;
}

.frontBox {
	background-color: rgba(0,0,0,.55);
	text-align: center;
	color: white;
	border: 10px ridge blue;
	width: 75%;
	margin: auto;
}

.gallery {
	float: left;
	padding-top: 100px;
	padding-left: 100px;
}

.break {
	padding:20px;
}

#video-background {
  position: fixed;
  right: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto;
  z-index: -100;
}

#message {
	position: fixed;
	background-color: yellow;
	text-align: center;
	size: 20pt;
	padding: 5px;
	color: black;
	width: 40%;
	top: 30%;
	left: 30%;
	font-family: "Lucida Console", "Courier New", monospace;
}